  <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-1">
    <div class="container-fluid">

      <a class="navbar-brand" href="\">
        <img src="/assets/img/cash-flow.png"
                alt="Avatar" class="img-fluid" style="width: 42px;" />
        <span class="px-2">LancamentosAPP</span>
      </a>

      <div *ngIf="!ehTelaLogin()" class="col" id="content-menu">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="contas" routerLinkActive="active">Contas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="lancamentos" routerLinkActive="active">Lancamentos</a>
            </li>
          </ul>

          <!-- combox de opções do usuario -->
          <div *ngIf="estaAutenticado()" class="nav-item dropdown">
            <button type="button" class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
              <span>{{usuario.nome}}</span>
            </button>
            <ul class="dropdown-menu">
              <li>
                  <a class="dropdown-item" [routerLink]="['user/profile', usuario.usuarioId]"><i class="fa-regular fa-user"></i> Meu perfil</a>
              </li>
              <li>
                  <a class="dropdown-item" [routerLink]="['user/edit', usuario.usuarioId]"><i class="fa-regular fa-gear"></i> Configurações</a>
              </li>
              <li>
                <a class="dropdown-item" [routerLink]="['user/password', usuario.usuarioId]"><i class="fa-regular fa-lock-keyhole"></i> Alterar senha</a>
            </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" (click)="logout()"><i class="fa-solid fa-person-to-door"></i> Sair</a></li>
            </ul>
          </div>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
          </form>

          <div *ngIf="!estaAutenticado()" class="text-end">
            <a type="button" class="btn btn-outline-light me-2" routerLink="/login/auth">Login</a>
            <a type="button" class="btn btn-warning" routerLink="login/create">Cadastre se</a>
          </div>
        </div>
      </div>

    </div>
  </nav>
