
<div class="py-5">
  <div class="d-flex justify-content-center align-items-center h-100">
    <form [formGroup]="form" class="container bg-white p-4" (submit)="atualizarSenha()">

      <div class="row mb-4">
        <div class="col-12">
          <img _ngcontent-iok-c78="" src="/assets/img/reset-password.png" alt="Avatar" class="img-fluid" style="width: 80px;">
          <span class="h3 mx-4">Alterar Senha</span>
        </div>
      </div>

      <div class="row form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Ex. login123@seuemail.com" formControlName="email" readonly>
        </div>
        <div class="form-group col-md-12">
          <label for="inputLogin">Senha Atual</label>
          <input type="password" class="form-control" id="inputSenhaAtual" placeholder="Senha Atual" formControlName="senhaAtual" required>
        </div>
        <div class="form-group col-md-12">
          <label for="inputNovaSenha">Nova Senha</label>
          <input type="password" class="form-control" id="inputNovaSenha" placeholder="Nova Senha" formControlName="novaSenha" required>
        </div>
        <div class="form-group col-md-12">
          <label for="inputConfirmarNovaSenha">Confirmar Nova Senha</label>
          <input type="password" class="form-control" id="inputConfirmarNovaSenha" placeholder="Confirmar Nova Senha" formControlName="confirmaNovaSenha" required>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Alterar</button>
    </form>
  </div>

</div>
