<div class="d-flex flex-column">
  <div class="container-fluid vh-100">
    <div class="row h-100">
      <div class="col-lg-8 login-background"><!-- carrega imagem atraves da class --></div>
      <div class="col-lg-4">
        <div class="text-center mx-5 pt-5">
          <form [formGroup]="form">
            <img
              class="mb-4"
              src="/assets/img/login.png"
              alt=""
              width="72"
              height="72"
            />
            <h4 class="mb-3 fw-normal">Entre com seu email e senha</h4>

            <div class="form-floating mb-2">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
                required
                formControlName="email"
              />
              <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-2">
              <input
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
                required
                formControlName="password"
              />
              <label for="floatingPassword">Senha</label>
            </div>

            <div class="checkbox mb-2">
              <label>
                <input type="checkbox" value="remember-me" /> Lembra senha
              </label>
            </div>
            <div class="mb-3">
              <a href="/login/resetpassword">Esqueci minha senha</a>
            </div>
            <button class="w-100 btn btn-lg btn-primary" (click)="login()">
              Acessar
            </button>
            <p class="mt-5 mb-3 text-muted">© 2022 - Stefano Silva</p>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
