<div class="container">
  <div class="row">
    <div *ngFor="let item of lista" class="col-xl-3 col-sm-6 mt-4">
      <div class="card">
        <h5 class="card-header">{{ item.tipoLancamento?.isDespesas ? 'Despesa':'Lucro' }} - {{ item.tipoLancamento?.descricao }}
            <i class="fa fa-edit" data-bs-toggle="modal" data-bs-target="#modalForm"  (click)="btnEditarClick(item)" ></i>
        </h5>
        <div class="card-body">
          <h3 class="card-title">
            <i *ngIf="item.tipoLancamento?.classIcone" [ngClass]="item.tipoLancamento?.classIcone"></i>
            {{ item.descricao }}
          </h3>
          <h5>{{item.conta?.nome}}</h5>
          <p class="card-text {{ item.tipoLancamento?.isDespesas ? 'text-danger':'text-primary'}}">{{ item.valor | currency:"BRL":"symbol" }} | {{ item.data | date: 'dd/MM/yyyy HH:mm' }}</p>
        </div>
      </div>
    </div>
  </div>

  <!--Modal form-->
  <div  id="modalForm" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{tipoAcaoForm}} Lancamento</h5>
          <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form">

            <div class="row form-row">
              <div class="form-group col-md-12">
                <label for="inputConta">Sua Conta</label>
                <app-lista-conta id="inputConta" [idSelected]="lancamentoAtual.contaId"></app-lista-conta>
              </div>
              <div class="form-group col-md-12">
                <label for="inputDescricao">Descrição</label>
                <input type="text" class="form-control" id="inputDescricao" placeholder="Ex. Mercado" formControlName="descricao" required>
              </div>
              <div class="form-group col-md-12">
                <label for="inputTipoLancamento">Tipo Lancamento</label>
                <app-tipo-lancamento id="inputTipoLancamento" [idSelected]="lancamentoAtual.tipoLancamentoId"></app-tipo-lancamento>
              </div>
              <div class="form-group col-md-12">
                <label for="inputValor">Valor R$</label>
                <input type="text" class="form-control" id="inputValor"  formControlName="valor" required>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--botão flutante-->
<button class="btn btn-danger align-middle btnFlutuante" data-bs-toggle="modal" data-bs-target="#modalForm" (click)="btnNovoClick()">
  <i class="fa-solid fa-plus"></i>
</button>
