<div class="container">
  <div class="row">
    <div *ngFor="let lancamento of lista" class="col-xl-3 col-sm-6 mt-4">
      <div class="card">
        <h5 class="card-header">{{ lancamento.tipoLancamento?.isDespesas ? 'Despesa':'Lucro' }} - {{ lancamento.tipoLancamento?.descricao  }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{ lancamento.descricao }}</h5>
          <p class="card-text {{ lancamento.tipoLancamento?.isDespesas ? 'text-danger':'text-primary'}}">{{ lancamento.valor | currency:"BRL":"symbol" }} | {{ lancamento.data | date: 'dd/MM/yyyy HH:mm' }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
<!--botão flutante-->

<button class="btn btn-danger align-middle btnFlutuante">
  <i class="fa-solid fa-plus"></i>
</button>
